# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


src/assets
src/component/PlanetTemplet.tsx
src/component/PlanerTemplet.css
src/component/Typing.tsx
src/component/Typing.css
src/view/landingpage/SwitcherAvatar.tsx
src/interfaces/Interface.ts
src/helper/images.ts
src/helper/transitions.ts
