.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    height: 85vh;
    width: 85vw;
    z-index: 10;
    border: 1px solid white;
    color: var(--white);
    flex-direction: column;
}

.landingPage a {
    font-size: 2rem;
}

.landingPage_cont_pj{
    position: relative;
    width: 13vw;
    height: 13vw;
}

.landingPage_cont_pj img{
    position: absolute;
    width: 13vw;
    top: 0;
    border: 3px solid white;
}

.rostro_pj{
    z-index: 10;
}

.cuerpo_pj{
    z-index: 30;
}

.pelo_pj{
    z-index: 15;
}

.ojos_pj{
    z-index: 15;
}