.landingPage {
    z-index: 10;
    height: 85vh;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.landingPage a {
    color: var(--white);
    font-size: 2rem;
}