.home {
    display: flex;
    justify-content: center;
    height: 85vh;
    z-index: 10;
}

.container_galaxy {
    position: relative;
    object-fit: cover;
    top: 5vh;
    width: 60vw;
    height: 150vh;
}

.img_galaxy {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}

.img_galaxy_animationT {
    animation: motionT 3s linear infinite;
}

.img_galaxy_animationB {
    animation: motionB 3s linear infinite;
}

.grid_galaxy {
    display: grid;
    position: absolute;
    width: 60vw;
    height: 150vh;
    margin: 5vh;
    grid-template-columns: repeat(10, 6vw);
    grid-template-rows: repeat(30, 5vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_señal {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
    z-index: 99;
}

.container_señal img:first-child {
    background: transparent;
    width: 3.5rem;
    display: none;
}

.container_señal:hover {
    transform: scale(1.5);
}

.container_señalhover img {
    display: none;
}

.container_señal:hover img:first-child {
    display: flex;
}

.grid_about {
    grid-area: 16 / 6 / 12 / 6;
}
.grid_project{
    grid-area: 7 / 6 / 8 / 7;
}
.grid_education{
    grid-area: 21 / 3 / 22 / 4;
}
.grid_networks{
    grid-area: 18 / 4 / 19 / 5;
}
.text_señal {
    font-size: calc(13px + 0.4vw);
    transition: all 0.3s ease;
    align-items: center;
    background: transparent;
    text-align: center;
    z-index: 80;
}
.señal{
    position: absolute;
    width: calc(13px + 5vw);
}
@keyframes motionT {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(1px);
    }

    20% {
        transform: translateX(2px);
    }

    30% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(4px);
    }

    70% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes motionB {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-1px);
    }

    20% {
        transform: translateX(-2px);
    }

    30% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(-4px);
    }

    70% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(-2px);
    }

    90% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0px);
    }
}