.home {
    display: flex;
    justify-content: center;
    height: 85vh;
    z-index: 10;
}

.container_galaxy {
    position: relative;
    object-fit: cover;
    top: 5vh;
    width: 60vw;
    height: 150vh;
}

.img_galaxy {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}

.img_galaxy_animationT {
    animation: motionT 3s linear infinite;
}

.img_galaxy_animationB {
    animation: motionB 3s linear infinite;
}

.grid_galaxy {
    display: grid;
    position: absolute;
    width: 60vw;
    height: 150vh;
    margin: 5vh;
    grid-template-columns: repeat(10, 6vw);
    grid-template-rows: repeat(30, 5vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container_pointer {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease;
    background: transparent;
    color: #000000;
    z-index: 99;
}
.grid_about{
    grid-area: 16 / 5 / 10 / 6;
}
@keyframes motionT {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(1px);
    }

    20% {
        transform: translateX(2px);
    }

    30% {
        transform: translateX(3px);
    }

    40% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(4px);
    }

    70% {
        transform: translateX(3px);
    }

    80% {
        transform: translateX(2px);
    }

    90% {
        transform: translateX(1px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes motionB {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(-1px);
    }

    20% {
        transform: translateX(-2px);
    }

    30% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(-4px);
    }

    70% {
        transform: translateX(-3px);
    }

    80% {
        transform: translateX(-2px);
    }

    90% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(0px);
    }
}