.view_grid {
    display: grid;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 85vh;
    grid-template-columns: repeat(50, 2vw);
    grid-template-rows: repeat(40, 2.125vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.view_item{
    z-index: 90;
}

.view_item img{
    position: absolute;
    width: 5em;
    height: 5em;
}

.view_item img:nth-child(1){
    display: inline;
    transition: all 1s ease;
}

.view_me{
    grid-area: 19 / 14 / 20 / 15;
    width: 5em;
    height: 5em;
}

.view_me:hover img:nth-child(1){
    opacity: 0;
}
