.about {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    color: var(--white);
    height: 85vh;
    width: 85vw;
    z-index: 10;
}

.about_img {
    position: absolute;
    image-rendering: pixelated;
    object-fit: contain;
    text-align: center;
    width: 35vw;
    height: 65vh;
}

.about_img img {
    width: 100%;
    height: 100%;
}

.about_grid {
    display: grid;
    grid-template-columns: repeat(20, 1.75vw);
    grid-template-rows: repeat(30, 2vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 15vh;
    width: 35vw;
    height: 60vh;
}

.about_link {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 99;
}


.about_link span {
    position: absolute;
    font-size: calc(13px + 0.4vw);
    color: var(--white);
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
    transition: all 0.3s ease;
    background: transparent;
    text-align: center;
    z-index: 90;
}

.about_house{
    grid-area: 30 / 7 / 31 / 9;
}