.view_planet {
    grid-area: 23 / 19 / 24 / 20;
}

.view_happyDog {
    grid-area: 14 / 19 / 15 / 20;
}

.view_catSleep{
    grid-area: 24 / 6 / 25 / 7;
}

.view_planet img:nth-child(1) {
    width: 8em;
    height: 7em;
}

.view_card_img{
    position: static;
    margin-top: 10px;
    height: 25vh;
}

.view_happyDog img:nth-child(1) {
    width: 8em;
    height: 7em;
}

.view_catSleep img:nth-child(1){
    width: 8em;
    height: 7em;
}

@media all and (max-width: 912px) {
    .view_planet img:nth-child(1) {
        width: 4em;
        height: 5em;
    }
    .view_happyDog img:nth-child(1) {
        width: 4em;
        height: 5em;
    }
    
    .view_catSleep img:nth-child(1){
        width: 4em;
        height: 5em;
    }
}
