.view_me {
    grid-area: 19 / 14 / 20 / 15;
    width: 5em;
    height: 5em;
}

.view_cat {
    grid-area: 27 / 21 / 28 / 22;
    width: 5em;
    height: 5em;
}

.view_me img {
    width: 5em;
    height: 5em;
}

.view_cat img {
    width: 4em;
    height: 4em;
}

.view_me:hover img:nth-child(1) {
    opacity: 0;
}

