.avatar_container{
    position: relative;
    width: 13vw;
    height: 13vw;
    background-color: rgba(22, 22, 22, 0.219);
}

.avatar_container img{
    position: absolute;
    width: 13vw;
    height: 13vw;
    left: 0;
    top: 0;
    border: 2px solid rgb(0, 0, 0);
}
.flag_avatar {
    z-index: 30;
}

.skin_avatar {
    z-index: 10;
}

.hair_avatar {
    z-index: 15;
}

.eyes_avatar {
    z-index: 15;
}

.casco_avatar{
    z-index: 20;
    background: rgba(0, 0, 0, 0.418);
}

.casco_opacity{
    opacity: 0;
}