.nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    image-rendering: pixelated;
    border-top: 2px solid #141414;
    font-weight: 200;
    width: 100vw;
    height: 25vh;
    color: #ebeceb;
    z-index: 100;
}