.bg_starts {
    display: flex;
    position: absolute;
    image-rendering: pixelated;
    overflow-y: hidden;
    width: 90vw;
    height: auto;
    left: 5vw;
    z-index: 1;
    object-fit: cover;
}

/* .bg_starts_home {

} */