.bg_starts {
    image-rendering: pixelated;
    overflow-x: hidden;
    position: absolute;
    width: 97vw;
    height: 250vh;
    left: 2vw;
    z-index: 0;
}

.bg_starts_home {
    margin-top: 60vh;
    bottom: -50vh;
}