.bg_starts {
    display: flex;
    position: absolute;
    image-rendering: pixelated;
    overflow-y: hidden;
    width: 94vw;
    height: auto;
    left: 3vw;
    z-index: 1;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .bg_starts{
        height: 100vh;
    }
}