.bg_starts {
    display: flex;
    position: absolute;
    overflow-y: hidden;
    object-fit: cover;
    height: auto;
    width: 94vw;
    left: 3vw;
    z-index: 2;
}

@media all and (max-width: 768px) {
    .bg_starts{
        height: 250vh;
    }
}