.bg_starts {
    display: flex;
    position: absolute;
    image-rendering: pixelated;
    overflow: hidden;
    width: 95vw;
    height: auto;
    left: 2vw;
    z-index: 0;
}

/* .bg_starts_home {

} */