.wallpaper_container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 85vh;
}

.wallpaper_bg {
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wallpaper_img {
    width: 100vw;
    height: 85vh;
}

.bg {
    z-index: 11;
}

.bg_gif {
    position: absolute;
    z-index: 8;
}

.nube_base {
    width: 100vw;
    height: 85vh;
    z-index: 5;
    top: 0;
    bottom: 0;
}

.nube_animation{
    position: absolute;
}
.nube_terra_bg{
    background-color: white;
}