@import url('http://fonts.cdnfonts.com/css/pf-tempesta-seven');
:root{
  --black: rgba(0, 0, 0, 0.959);
  --white: rgb(255, 255, 255);
  --red: rgb(36, 36, 36);
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'PF Tempesta Seven Condensed';
  font-weight: 400;
}
body {
  cursor: url(./assets/cursor/cursor.png), default;
  background-color: #0b0a1a;
  
}
p, h1, h2, h3, h4, h5, h6{
  cursor: url(./assets/cursor/cursorText.png), default
}
button, a{
  cursor: url(./assets/cursor/cursorPointer.png), default;
  text-decoration: none;
}
.app_overflow{
  overflow: hidden;
}
.ola{
  background: #000;
  height: 30vh;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #212121 #0d1f30;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
